<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Chrome -->
    <add key="Driver" value="Zu.AsyncChromeDriver.SeleniumAdapter.WebDriverAdapter" />
    <add key="Assembly" value="AsyncChromeDriver.SeleniumAdapter" />
    <add key="DriverName" value="Chrome" />
    <add key="RemoteCapabilities" value="chrome" />


      <add key="Protocol" value="http" />
    <add key="HostName" value="localhost" />
    <add key="Port" value="2310" />
    <add key="SecurePort" value="2410" />
    <add key="Folder" value="HtmlForTests" />
    <!-- <add key="StartTestWebServer" value="true"/>-->
     <add key="StartTestWebServer" value="false" /> 
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
